.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 400px;
  width: 300px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 2.5rem #000000c4;
  transition: transform 0.4s ease-out, left 0.4s ease-out;
  position: relative;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
}

.card:hover ~ .card {
  left: 50px;
}

.title {
  color: white;
  font-weight: 300;
  margin: 15px 0 0 20px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  width: calc(100% - 40px); /* Ajuste para responsividade */
  height: 5px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(90deg, #00ffa3 0%, #009ad9 65%, #005cbf 100%);
  transition: width 0.4s ease-out;
}

.card:hover .filledbar {
  width: 100%;
}

.description {
  color: var(--text-light);
  margin: 85px 20px 0;
}

.btn {
  margin: auto 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Responsividade */
@media (max-width: 748px) {
  .card {
      width: 350px;
      margin-bottom: 2rem;
  }

  .btn {
      right: 14px;
  }
}
