<section class="container Services" id="services">
    <div class="title">
        <h2>What is your preferred engagement model</h2>
    </div>

    <div class="cards">
        <app-services-card [title]="'Extend your development team'" [description]="'Level up your performance with the support of our specialists.'"></app-services-card>
        <app-services-card [title]="'Hire a dedicated team'" [description]="'Save time & in-house resources by delegating the project to a dedicated team.'"></app-services-card>
        <app-services-card [title]="'Build your product from scratch'" [description]="'Design a product tailored to your needs and bring it to life.'"></app-services-card>
        <app-services-card [title]="'Maintain your solution'" [description]="'Get full support for your IT product.'"></app-services-card>
    </div>
</section>
