.Plans {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://rare-gallery.com/thumbnail/417771-Control-Remedy-Games-video-games-screen-shot-abstract.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.title {
    padding: 0 10rem;
    text-align: center;
}